<% layout('layouts/boilerplate')%>

<div id="cluster-map" class="mx-auto shadow mb-5"></div>

<form id="searchForm" class="row col-sm-8 offset-sm-2 py-3">
    <div class="col-12 text-center mb-3">
        <strong>Search Houses By Rent</strong>
    </div>
    <div class="col-5">
        <div class="input-group">
            <span class="input-group-text" id="rent-label">&#8377;</span>
            <input type="number" step="any" min="0" class="form-control" id="minRent" aria-label="minRent" aria-describedby="min-rent-label" name="minRent" placeholder="Min">
        </div>
    </div>
    <div class="col-5">
        <div class="input-group">
            <span class="input-group-text" id="rent-label">&#8377;</span>
            <input type="number" step="any" min="0" class="form-control" id="maxRent" aria-label="maxRent" aria-describedby="max-rent-label" name="maxRent" placeholder="Max">
        </div>
    </div>
    <div class="col-2">
      <button type="submit" class="btn btn-primary">&#128269;</button>
    </div>
</form>


<div id="housesContainer" class="card-container col-sm-8 offset-sm-2 mt-5"></div>

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const houses = {features: <%- JSON.stringify(houses) %>};
</script>

<script src="/javascripts/clusterMap.js"></script>
<script src="/javascripts/search.js"></script>

