<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <form action="/houses" method="POST" novalidate class="need-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="name">House Owner Name</label>
                <input class="form-control" type="text" id="name" name="house[name]" required>
            </div>
            <!-- <div class="mb-3">
                <label class="form-label" for="address">Address</label>
                <textarea class="form-control" type="text" id="address" name="house[address]" required></textarea>
            </div> -->

            <fieldset class="row mb-3">
                <label>Address Details</label>
                <div class="mb-2">
                    <input type="text" class="form-control" name="house[address][line1]" placeholder="Address Line 1" required>
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" name="house[address][line2]" placeholder="Address Line 2">
                </div>
                <div class="mb-2 col-sm-6">
                    <input type="text" class="form-control" name="house[address][city]" placeholder="City" required>
                </div>
                <div class="mb-2 col-sm-6">
                    <input type="text" class="form-control" name="house[address][state]" placeholder="State" required>
                </div>
                <div class="mb-2 col-sm-6">
                    <input type="text" class="form-control" name="house[address][postalCode]" placeholder="Postal Code" required>
                </div>
                <div class="mb-2 col-sm-6">
                    <input type="text" class="form-control" name="house[address][country]" placeholder="Country" required>
                </div>

            </fieldset>
            
            <div class="mb-3">
                <label class="form-label" for="rent">Rent per month</label>
                <div class="input-group">
                    <span class="input-group-text" id="rent-label">&#8377;</span>
                    <input type="number" step="any" min="0" class="form-control" id="rent" placeholder="0.00" aria-label="rent" aria-describedby="rent-label" name="house[rent]" required>
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="house[description]" rows="3"></textarea>
            </div>

            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input form-control" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>

            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" name="house[availableStatus]" value="true">
                <label class="form-check-label" for="availableStatus">Currently Available on Rent</label>
            </div>

            <div class="mb-3">
                <button class="btn btn-success w-100">Add House</button>
            </div>
        </form>
    </div>
</div>